#coop-list {
    height: 111px;
}

#coop-list a {
    display: inline-block;
}

#coop-list a:first-of-type {
    color: #0e468f;
    font-size: 16px;
    padding-bottom: 10px;
}

#coop-list a:last-of-type {
    color: #262626;
    font-size: 14px;
    padding-bottom: 20px;
}

#coop-list span {
    color: #555;
    font-size: 12px;
    margin-bottom: 50px;
}